/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  margin: 0;
  padding: 0;
  font-size: 50%;
}
body {
  background-image: url('../resources/backgrounds/creamTexture2.png');
  background-repeat: repeat;
  background-color: #e9e7c4;
  margin: 0;
  color: #ffffff;
}
body div#page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  font-family: "Oxygen", sans-serif;
}
body div#page:before,
body div#page:after {
  content: " ";
  display: table;
}
body div#page:after {
  clear: both;
}
body div#page:before,
body div#page:after {
  content: " ";
  display: table;
}
body div#page:after {
  clear: both;
}
body div#page a {
  text-decoration: none;
  color: inherit;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s ease-out;
}
body div#page a:hover {
  color: #ee9933;
}
body div#page div#header-wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 101%;
  position: relative;
  top: -20px;
  left: -0.5%;
  background-image: url('../resources/backgrounds/greenTexture2.png');
  background-repeat: repeat;
  padding: 3rem 0 0 0;
  margin: 0;
  background-color: #333;
  color: #ffffdd;
  border-radius: 20px;
  box-shadow: 0 0 5px #000000;
}
body div#page div#header-wrapper:before,
body div#page div#header-wrapper:after {
  content: " ";
  display: table;
}
body div#page div#header-wrapper:after {
  clear: both;
}
body div#page div#header-wrapper:before,
body div#page div#header-wrapper:after {
  content: " ";
  display: table;
}
body div#page div#header-wrapper:after {
  clear: both;
}
body div#page div#header-wrapper div#title-wrapper {
  margin: 0 2rem 2rem 2rem;
}
body div#page div#header-wrapper div#title-wrapper h1 {
  font-family: "Allerta", "Helvetica", sans-serif;
  font-size: 6rem;
  text-align: center;
}
body div#page div#header-wrapper div#title-wrapper h2 {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 3px;
}
body div#page nav#main-nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem 2rem 2rem;
  margin: 0;
  width: 100%;
  color: #eeaa33;
  font-family: "Oxygen", "Helvetica", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
body div#page nav#main-nav:before,
body div#page nav#main-nav:after {
  content: " ";
  display: table;
}
body div#page nav#main-nav:after {
  clear: both;
}
body div#page nav#main-nav:before,
body div#page nav#main-nav:after {
  content: " ";
  display: table;
}
body div#page nav#main-nav:after {
  clear: both;
}
body div#page nav#main-nav a {
  padding: 0 2rem;
  text-decoration: none;
  color: inherit;
  transition: color 0.25s linear;
  -webkit-transition: color 0.25s ease-out;
}
body div#page nav#main-nav a:hover {
  color: #ee9933;
}
body div#page .homepage-section {
  color: #91835a;
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.0416666666666665%;
  margin-left: 9.374999999999998%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 0;
  margin-bottom: 4rem;
  padding: 2rem 2rem 2rem 2rem;
}
body div#page .homepage-section:before,
body div#page .homepage-section:after {
  content: " ";
  display: table;
}
body div#page .homepage-section:after {
  clear: both;
}
body div#page .homepage-section:before,
body div#page .homepage-section:after {
  content: " ";
  display: table;
}
body div#page .homepage-section:after {
  clear: both;
}
body div#page .homepage-section:before,
body div#page .homepage-section:after {
  content: " ";
  display: table;
}
body div#page .homepage-section:after {
  clear: both;
}
body div#page .homepage-section:before,
body div#page .homepage-section:after {
  content: " ";
  display: table;
}
body div#page .homepage-section:after {
  clear: both;
}
body div#page .homepage-section h4 {
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-top: 2rem;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
}
body div#page .homepage-section p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: justify;
  padding: 1rem 0;
}
body div#page .homepage-section p em {
  font-weight: 900;
}
body div#page .homepage-section p#main-description-graphic {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 30rem;
  font-family: "aguafina";
  letter-spacing: -15px;
  line-height: 30rem;
  font-weight: 100;
  color: #3984bc;
}
body div#page .homepage-section p#main-description-text {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin: 0 1.0416666666666665%;
}
body div#page .homepage-section .a-mantra {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.0416666666666665%;
  margin-bottom: 4rem;
}
body div#page .homepage-section .a-mantra h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
  font-weight: 700;
  text-align: center;
}
body div#page .homepage-section .a-mantra p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}
body div#page div#main-links div.main-link-wrapper {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  padding: 0 4.8rem;
}
body div#page div#main-links div.main-link-wrapper h1.main-link-header {
  font-family: "Droid Serif", sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  color: #244718;
  margin: 1.2rem 0;
}
body div#page div#main-links div.main-link-wrapper div.main-link-img-wrapper {
  width: 100%;
  height: 24rem;
  margin: 1.2rem 0;
  border-bottom: 2px solid #eeaa33;
}
body div#page div#main-links div.main-link-wrapper p.main-link-text {
  margin: 1.2rem 0;
  font-size: 1.6rem;
  color: #91835a;
  text-align: center;
  letter-spacing: 1px;
}
body div#page #clientLogos {
  text-align: center;
  padding-top: 50px;
}
body div#page #clientLogos img {
  padding-right: 40px;
  padding-bottom: 50px;
}
body div#page div#footer {
  display: inline;
  float: left;
  width: 100%;
  margin: 0 0;
  background-image: url('../resources/backgrounds/blackTexture.png');
  background-repeat: repeat;
  margin-top: 2.4rem;
  margin-bottom: 0;
  padding: 2.4rem 0;
  border-top: 1px solid #dddddd;
  text-align: center;
  font-size: 1.3rem;
}
body div#page div#footer a#nocturne-link:hover {
  color: #339a80;
}
.main-navigation {
  clear: both;
  margin: 0 auto;
  min-height: 45px;
  position: relative;
}
ul.nav-menu,
div.nav-menu > ul {
  margin: 0;
  padding: 0 40px 0 0;
}
.nav-menu li {
  display: inline-block;
  position: relative;
}
.nav-menu li a {
  color: #141412;
  display: block;
  font-size: 15px;
  line-height: 1;
  padding: 15px 20px;
  text-decoration: none;
}
.nav-menu .sub-menu,
.nav-menu .children {
  background-color: #220e10;
  border: 2px solid #f7f5e7;
  border-top: 0;
  display: none;
  padding: 0;
  position: absolute;
  left: -2px;
  z-index: 99999;
}
.nav-menu .sub-menu ul,
.nav-menu .children ul {
  border-left: 0;
  left: 100%;
  top: 0;
}
ul.nav-menu ul a,
.nav-menu ul ul a {
  color: #fff;
  margin: 0;
  width: 200px;
}
ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
  display: block;
}
.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
  color: #bc360a;
  font-style: italic;
}
.menu-toggle {
  display: none;
}
@media screen and (min-width: 600px) {
  html {
    font-size: 62.5%;
  }
  body div#page .homepage-section p {
    font-size: 1.4rem;
  }
  body div#page div#main-links div.main-link-wrapper {
    display: inline;
    float: left;
    width: 31.25%;
    margin: 0 1.0416666666666665%;
  }
}
